<h1>Accounts</h1>
<p>All accounts from secure (admin only) api end point:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Account</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:14%">Title</th>
            <th style="width:14%">First name</th>
            <th style="width:14%">Last name</th>
            <th style="width:14%">Email</th>
            <th style="width:14%">Role</th>
            <th style="width:14%">Status</th>
            <th style="width:14%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td class="align-middle">{{account.title}}</td>
            <td class="align-middle">{{account.firstName}}</td>
            <td class="align-middle">{{account.lastName}}</td>
            <td class="align-middle">{{account.email}}</td>
            <td class="align-middle">{{account.role}}</td>
            <td>
                <span
                    [ngClass]="account.status === 'Active' ? 'badge bg-success' : 'badge bg-danger'">
                        {{ account.status }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
                    <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!account.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!accounts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>